input:-moz-focus-inner {
	border: 0;
}
a {
	outline: 0 !important;
}
body, h1, h2, h3, h4, h5 {
	font-family: 'Droid Sans', sans-serif;
}

.name {
	font-family: 'Merienda', cursive;
	font-size: 3em;
	line-height: 1.5em;
}

.playtitles {
	font-family: 'Merienda', cursive;
	font-size: 2em;
}

.title {
	margin-top: 0;
	color: #006EB8;
}

.header-row, .date, .jobdetails {
	color: #666;
}

.cattitle, .navbar-brand {
	color: #006EB8 !important;
}

.navbar-default .navbar-nav > .active > a {
	color: #006EB8 !important;
	background: transparent;
}

.navbar-default .navbar-nav > .active:hover > a, .navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
}

@media (max-width: 500px) {
	.name {
		font-size: 2em;
	}

	.cattitle {
		font-size: 1.6em;
	}
}